<!-- Netlify Identity Widget pro přihlášení do CMS -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.init({
      APIUrl: "https://preeminent-kheer-b871e1.netlify.app/.netlify/identity"
    });
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/Jendova-dilna-web/admin/";
        });
      }
    });
  }
</script>
